@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Todo-List manager</h1>
    <p>Here are your can manage your personl todo-lists</p>
</div>
